.note-item {
    border: 1px solid #282c34;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.note-item__title {
    width: 10%;
    white-space: nowrap;
}

.note-item__description {
    width: calc(90%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
